.validation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
}

/* Styling the input and error message */
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#errorMessage {
    color: red;
    font-size: 14px;
}